@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@100&family=Economica&display=swap');
*{
    box-sizing: border-box;
}

body{
    background-color: #2E2D2D;
    color: #fff;
    margin: 0;
    font-family: 'Barlow Semi Condensed', sans-serif;
}

.lists {
    margin-left: 350px;
  }
