.menu{
  margin-top: 210px;
  display: flex;
}

.setavoltar {
  width: 70px;
  height: 70px;
  margin-top: 43px;
  margin-left: 480px;
}

.imgtitulo{
  max-width: 205px;
}

.areazul {
  width: 1380px;
  height: 410px;
  margin-left: 500px;
  margin-top: -200px;
  background: rgba(51, 174, 174, 0.8);
  border-radius: 10px;
}

.iconedosfavoritos {
  margin-left: 1280px;
  margin-top: 20px;
  width: 50px;
  height: 50px;
}

.ftcatalogo {
  margin-left: 30px;
  margin-top: -150px;
}

.nome{
  margin-bottom: 90px;
  margin-top: -90px;
}

.nomefilme {
  margin-left: 250px;
  margin-right: 40px;
  padding-top: -90px;
  padding-bottom: 30px;
  font-family: 'Economica';
  font-style: normal;
  font-size: 48px;
  color: #212121;
}

.dados {
  margin-left: 283px;
  margin-top: 42px;
  font-family: 'Economica';
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  color: #212121;
}

.descricao {
  width: relative;
  height: 130px;
  margin-left: -30px;
  margin-right: 30px;
  margin-top: 20px;
  font-family: 'Economica';
  font-style: normal;
  font-size: 24px;
  line-height: 29px;
  color: #212121;
}

.generosenota {
  margin-left: -30px;
  margin-top: -310px;
  font-family: 'Economica';
  font-style: normal;
  font-size: 25px;
  line-height: 21px;
  color: #212121;
}

.adicione {
  font-size: 32px;
  margin-left: -30px;
}

.divbotoesfilmeetiqueta{
  display: flex;
  margin-left: -54px;
}

.botaofilmeetiqueta {
  color: #000000;
  background-color: #99d6d6;
  display: inline-table;
  font-size: 26px;
  align-items: center;
  width: 130px;
  height: 35px;
  margin-left: 2%;
  margin-top: -15px;
  border-radius: 10px;
  border-color: #000000;
  font-family: 'Economica';
  font-style: normal;
  cursor: pointer;
  border: none;
  box-shadow: 1.5px 1.5px #007b7b;
}

.botaofilmeetiqueta:active {
  background-color: #2c9696;
  color: #000000;
  box-shadow: 2px 2px 2px #007b7b;
}

.botaofilmeetiqueta:focus {
  background: #007b7b;
}

.iconedaresenha {
  margin-left: 1000px;
  margin-top: -300px;
  width: 60px;
  height: 60px;
}

.estrela{
  color: #FFE600;
}